
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Any Problems <br>
                Any Questions
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5  offset-md-1">
                <div class="contact_form">
                    <h4>
                        Get In touch
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone Number">
                        <input type="text" placeholder="Message" class="message_input">
                        <button>Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="images/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->